/********************************************************************
* Additional styles for the player Manager application
********************************************************************/
#add_player_form {
    margin: .5em 0 1em;
}
#add_player_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_player_form input {
    float: left;
}
#add_player_form input[text] {
    width: 15em;
}
